{% extends "layouts/base.html" %}

{% block content %}

<main>
    <section class="mt-5">
        <div class="px-4 text-center">
            <figure>
                <img width="180" src="/assets/images/logo.png" alt="Logo">
            </figure>
        </div>

        <h1 class="display-5 text-center my-5">
            {% if page_data.total_items > 0 %}
                Blog Page {{ page_num }}
            {% else %}
                Blog
            {% endif %}
        </h1>
    </section>
    <section class="mt-5 section-posts-list">
        <div class="container px-4 px-lg-5 my-5">
            {% if page_data.total_items > 0 %}
                <div class="row gx-4 gx-lg-5 align-items-start">
                    {% for post in page_data["items"] %}
                    <div class="col-md-6 mb-4">
                        <div class="card h-100">
                            <!-- post title -->
                            <div class="card-body">
                                <h2>{{ post.title }}</h2>
                                <div class="mb-3">
                                    <small class="text-muted">Published on: {{ post.created_at }}</small>
                                </div>
                                <!-- post content -->
                                <p class="lead">{{ post.content | truncate(150) }}</p>
                            </div>

                            <div class="card-footer text-end">
                                <a href="/posts/{{ post.token }}" class="btn btn-primary">Read more</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="text-center">
                    <strong>No posts</strong>
                </div>
            {% endif %}

            <!-- pagination controls -->
            {% include 'shared/pagination.html' %}
        </div>
    </section>
</main>

{% endblock %}
