{% extends "layouts/base.html" %}

{% set page_title = "Gallery" %}
{% set page_description = "Gallery kaktos page description" %}

{% block footer %}
<link rel="stylesheet" href="/assets/vendor/magnific-popup/css/magnific-popup.css" type="text/css" />
<script src="/assets/vendor/magnific-popup/js/magnific-popup.min.js"></script>

<script>
    $(document).ready(function () {
        $('.gallery-image').magnificPopup({
            type: 'image',
            gallery: {
                enabled: true
            },
        });
    });
</script>
{% endblock %}

{% block content %}

{% from 'shared/macros.html' import page_container_start, page_container_end %}

{{ page_container_start() }}

<main>
    <section class="mt-5">
        <div class="px-4 text-center">
            <figure>
                <img width="180" src="/assets/images/logo.png" alt="Logo">
            </figure>
        </div>

        <h1 class="display-5 text-center my-5">
            Gallery
        </h1>

        <div class="row gallery-container justify-content-center" uk-grid uk-lightbox="animation: slide">
            {% for gallery in file.find_dirs(path.join("files", "images", "gallery"), "*") %}

                {% for gallery_item in file.find_files(gallery, ["*.jpg", "*.png"]) %}
                    {% include 'shared/gallery/list-item.html' %}
                {% endfor %}

            {% else %}

                <div class="col-12 text-center">
                    <strong>No gallery</strong>
                </div>

            {% endfor %}
        </div>
    </section>
</main>

{{ page_container_end() }}

{% endblock %}
