{% extends "layouts/base.html" %}

{% if product_category_data.seo_title %}
    {% set page_title = product_category_data.seo_title %}
{% endif %}

{% if product_category_data.seo_desc %}
    {% set page_description = product_category_data.seo_desc %}
{% endif %}

{% if product_category_data.seo_keywords %}
    {% set page_keywords = product_category_data.seo_keywords %}
{% endif %}

{% block content %}

<main>
    <section class="mt-5">
        <div class="px-4 text-center">
            <figure>
                <img width="180" src="/assets/images/logo.png" alt="Logo">
            </figure>
        </div>

        <h1 class="display-5 text-center my-5">
            {{ product_category_data.name }}
        </h1>

        {% if product_category_data.products %}
            {% include "shared/product-category/list.html" %}
        {% endif %}
    </section>
</main>

{% endblock %}
