{% extends "layouts/base.html" %}

{% if product_category_data.seo_title %}
    {% set page_title = product_category_data.seo_title %}
{% endif %}

{% if product_category_data.seo_desc %}
    {% set page_description = product_category_data.seo_desc %}
{% endif %}

{% if product_category_data.seo_keywords %}
    {% set page_keywords = product_category_data.seo_keywords %}
{% endif %}

{% block content %}

<main class="w-full flex-1">
    <section class="px-4 py-10">
        <div class="mb-10 text-center">
            <figure class="mb-6 flex justify-center">
                <img class="h-auto w-44" src="{{ kaktos.frontend.url('images/logo.png') }}" alt="Logo" width="180" height="180">
            </figure>
            <h1 class="text-4xl font-bold tracking-tight text-slate-900 sm:text-5xl">
                {{ product_category_data.name }}
            </h1>
        </div>

        {% if product_category_data.products %}
            {% include "shared/product-category/list.html" %}
        {% endif %}
    </section>
</main>

{% endblock %}
