<div class="flex justify-center">
    <a class="glightbox block overflow-hidden rounded-lg ring-primary transition hover:opacity-95 focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2"
        href="{{ kaktos.frontend.url('images/gallery/' ~ path.basename(gallery) ~ '/' ~ path.basename(gallery_item)) }}"
        data-gallery="{{ path.basename(gallery) | e }}">
        <img src="{{ kaktos.frontend.url('images/gallery/' ~ path.basename(gallery) ~ '/' ~ path.basename(gallery_item)) }}"
            class="h-40 w-full max-w-[200px] rounded-lg object-cover"
            alt="Gallery image">
    </a>
</div>
