{% for category in kaktos.config.product_category_data %}

<div class="container px-4 px-lg-5">
    <h2 class="mb-4 text-center">
        <a href="{{ url_for('product_category', token=category.token) }}" class="text-decoration-none text-dark">
            {{ category.name }}
        </a>
    </h2>

    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        {% for product_token in category.products %}
            {% set prod_item = product.by_token(product_token) %}
            {% include 'shared/product/list-item.html' %}
        {% endfor %}
    </div>
</div>

{% else %}

<div class="container my-5">
    <div class="row justify-content-center text-center">
        <strong>No products</strong>
    </div>
</div>

{% endfor %}
