<!-- header -->
<header>
    <!-- navbar -->
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('index') }}">
                <img src="/assets/images/logo-mini.png" alt="Logo">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">

                <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link {% if kaktos.path == 'index' %}active{% endif %}" {% if kaktos.path=='index' %} aria-current="page" {% endif %} href="{{ url_for('index') }}">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {% if kaktos.path == 'store' %}active{% endif %}" {% if kaktos.path=='store' %} aria-current="page" {% endif %} href="{{ url_for('page', path='store') }}">Store</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {% if kaktos.path == 'blog' %}active{% endif %}" {% if kaktos.path=='blog' %} aria-current="page" {% endif %} href="{{ url_for('page', path='blog') }}">Blog</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {% if kaktos.path == 'gallery' %}active{% endif %}" {% if kaktos.path=='gallery' %} aria-current="page" {% endif %} href="{{ url_for('page', path='gallery') }}">Gallery</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link {% if kaktos.path == 'about' %}active{% endif %}" {% if kaktos.path=='about' %} aria-current="page" {% endif %} href="{{ url_for('page', path='about') }}">About</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</header>
