<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

{%- if page_title %}
    {%- if page_title_simple %}
    {%- set page_title = page_title -%}
    {% else %}
    {%- set page_title = page_title + " - " + kaktos.config.title -%}
    {% endif -%}
{% else %}
{%- set page_title = kaktos.config.title -%}
{% endif -%}

{%- if not page_description %}
{%- set page_description = kaktos.config.page_description -%}
{% endif -%}

{%- if not page_keywords %}
{%- set page_keywords = kaktos.config.page_keywords -%}
{% endif -%}

{%- if not page_author %}
{%- set page_author = kaktos.config.page_author -%}
{% endif -%}

{%- if not page_url %}
{%- set page_url = url_for(request.endpoint, _external=True, **request.view_args) -%}
{% endif -%}

{%- if not page_og_title %}
{%- set page_og_title = page_title -%}
{% endif -%}

{%- if not page_og_locale %}
{%- set page_og_locale = kaktos.config.page_og_locale -%}
{% endif -%}

{%- if not page_og_type %}
{%- set page_og_type = kaktos.config.page_og_type -%}
{% endif -%}

{%- if not page_og_description %}
{%- set page_og_description = page_description -%}
{% endif -%}

{%- if not page_og_url %}
{%- set page_og_url = page_url -%}
{% endif -%}

{%- if not page_og_site_name %}
{%- set page_og_site_name = kaktos.config.page_og_site_name -%}
{% endif -%}

{%- if not page_og_image %}
{%- set page_og_image = kaktos.config.page_og_image -%}
{% endif -%}

{%- if not page_og_image_width %}
{%- set page_og_image_width = kaktos.config.page_og_image_width -%}
{% endif -%}

{%- if not page_og_image_height %}
{%- set page_og_image_height = kaktos.config.page_og_image_height -%}
{% endif -%}

{%- if not page_twitter_card %}
{%- set page_twitter_card = kaktos.config.page_twitter_card -%}
{% endif -%}

{%- if not page_twitter_site %}
{%- set page_twitter_site = kaktos.config.page_twitter_site -%}
{% endif -%}

{%- if not page_apple_mobile_web_app_title %}
{%- set page_apple_mobile_web_app_title = kaktos.config.page_apple_mobile_web_app_title -%}
{% endif -%}

{%- if not page_application_name %}
{%- set page_application_name = kaktos.config.page_application_name -%}
{% endif -%}

{%- if page_description %}
<meta name="description" content="{{ page_description }}">
{% endif -%}

{%- if page_keywords %}
<meta name="keywords" content="{{ page_keywords }}">
{% endif -%}

{%- if page_author %}
<meta name="author" content="{{ page_author }}">
{% endif -%}

{%- if page_og_locale %}
<meta property="og:locale" content="{{ page_og_locale }}" />
{% endif -%}

{%- if page_og_type %}
<meta property="og:type" content="{{ page_og_type }}" />
{% endif -%}

{%- if page_og_title %}
<meta property="og:title" content="{{ page_og_title }}" />
{% endif -%}

{%- if page_og_description %}
<meta property="og:description" content="{{ page_og_description }}" />
{% endif -%}

{%- if page_og_url %}
<meta property="og:url" content="{{ page_og_url }}" />
{% endif -%}

{%- if page_og_site_name %}
<meta property="og:site_name" content="{{ page_og_site_name }}" />
{% endif -%}

{%- if page_og_image %}
<meta property="og:image" content="{{ page_og_image }}" />
{% endif -%}

{%- if page_og_image_width %}
<meta property="og:image:width" content="{{ page_og_image_width }}" />
{% endif -%}

{%- if page_og_image_height %}
<meta property="og:image:height" content="{{ page_og_image_height }}" />
{% endif -%}

{%- if page_article_publisher %}
<meta property="article:publisher" content="{{ page_article_publisher }}" />
{% endif -%}

{%- if page_article_author %}
<meta property="article:author" content="{{ page_article_author }}" />
{% endif -%}

{%- if page_article_section %}
<meta property="article:section" content="{{ page_article_section }}" />
{% endif -%}

{%- if page_article_tag %}
<meta property="article:tag" content="{{ page_article_tag }}" />
{% endif -%}

{%- if page_article_published_time %}
<meta property="article:published_time" content="{{ page_article_published_time }}" />
{% endif -%}

{%- if page_article_modified_time %}
<meta property="article:modified_time" content="{{ page_article_modified_time }}" />
{% endif -%}

{%- if page_twitter_card %}
<meta property="twitter:card" content="{{ page_twitter_card }}" />
{% endif -%}

{%- if page_twitter_site %}
<meta property="twitter:site" content="{{ page_twitter_site }}" />
{% endif -%}

{%- if page_apple_mobile_web_app_title %}
<meta name="apple-mobile-web-app-title" content="{{ page_apple_mobile_web_app_title }}" />
{% endif -%}

{%- if page_application_name %}
<meta name="application-name" content="{{ page_application_name }}" />
{% endif -%}

{%- if page_url %}
<link rel="canonical" href="{{ page_url }}" />
{% endif -%}

<title>{{ page_title }}</title>

<link rel="icon" href="/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">

{%- if page_rtl or kaktos.config.rtl %}
<link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.rtl.min.css" type="text/css" />
{% else %}
<link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css" type="text/css" />
{% endif -%}

<link rel="stylesheet" href="/assets/css/main.css{% if not kaktos.is_debug %}?v={{ kaktos.config.version_css_file }}{% endif %}" type="text/css" />
<link rel="stylesheet" href="/assets/css/custom.css{% if not kaktos.is_debug %}?v={{ kaktos.config.version_css_file }}{% endif %}" type="text/css" />

<script src="/assets/vendor/jquery/js/jquery.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
